# Langfuse Configuration
LANGFUSE_AGENT_ID=demo-agent

LANGFUSE_SECRET_KEY = sk-lf-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
LANGFUSE_PUBLIC_KEY = pk-lf-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
LANGFUSE_BASE_URL = https://us.cloud.langfuse.com

# OpenAI Configuration
OPENAI_API_KEY=sk-proj-your-openai-api-key-here

# Server Configuration
PORT=3001
